body {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
}

h4:before {
	content: "» ";
}

dt:before {
  content: "";
  display: block;
  margin-bottom: 4px;
}

dt {
	display: inline;
	font-style: italic;
	-font-weight: bold;
	-color: #444;
}

dt:after {
	content: ":";
}

dd {
	display: inline;	
}