.main-content h4 {
  font-size: 14px !important;
}

table.schedule th:first-child,
table.schedule td:first-child {
  min-width: 0;
  width: 130px;
  font-style: italic;
}

table.material td:first-child {
  min-width: 0;
  width: 60px;
  font-style: italic;
}
table.material td:last-child {
  min-width: 0;
  width: 220px;
  font-style: italic;
}

.main-content dl {
  grid-template: none;
}
.main-content dt {
  text-align: left;
  font-weight: normal;
  font-style: italic;
}

.footnote {
  color: #aaa;
  font-size: 0.8em;
}
